# export GITHUB_CLIENT_ID="e448c84e25b2ed5aa242"
# export GITHUB_CLIENT_SECRET="88c18d789caade09222bb61cede5d13276cbfd53"
# export OAUTH2_REDIRECT_URL="https://hub.k0s.io/oauth2/github/callback"
export GITHUB_CLIENT_ID="Ov23li2pifnTZKYohcvr"
export GITHUB_CLIENT_SECRET="fbad5caaf49ca3df66108a39bd38ac27d9b554e2"
export OAUTH2_REDIRECT_URL="http://localhost:8000/oauth2/github/callback"
